In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/income_evaluation.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.shape

(32561, 15)

In [4]:
df = df.sample(frac=1)

In [5]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
1755,25,Private,169323,Bachelors,13,Married-civ-spouse,Exec-managerial,Own-child,White,Female,0,0,40,United-States,<=50K
29885,46,Private,336984,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,17,United-States,<=50K
2645,46,Private,138626,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
18893,53,Local-gov,197054,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
9468,40,State-gov,199381,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,15024,0,37,United-States,>50K
6071,57,Self-emp-not-inc,286836,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,8,United-States,<=50K
17713,21,Private,189013,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,35,United-States,<=50K
15468,29,Private,37933,12th,8,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,40,United-States,<=50K
22801,26,Private,149734,HS-grad,9,Separated,Craft-repair,Unmarried,Black,Female,0,1594,40,United-States,<=50K
11061,43,Self-emp-inc,175715,HS-grad,9,Never-married,Exec-managerial,Not-in-family,Black,Male,0,0,55,United-States,<=50K
1614,26,Private,161007,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Male,0,0,30,United-States,<=50K
10129,37,Private,167851,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
21154,22,Private,219042,10th,6,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
31706,29,Private,50295,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,48,United-States,<=50K
21380,60,Private,186446,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,United-States,<=50K
16798,51,?,146325,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,28,United-States,<=50K
29356,52,Self-emp-not-inc,138611,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,7688,0,55,United-States,>50K
13425,75,Self-emp-not-inc,92792,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,35,United-States,<=50K
19655,32,Private,207668,Bachelors,13,Never-married,Exec-managerial,Other-relative,White,Male,0,2444,50,United-States,>50K
5406,90,Private,51744,Masters,14,Never-married,Exec-managerial,Not-in-family,Black,Male,0,0,50,United-States,>50K
5505,29,Private,632593,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States,<=50K
24850,48,Private,107231,Prof-school,15,Married-civ-spouse,Exec-managerial,Husband,White,Male,99999,0,50,United-States,>50K
21058,44,Self-emp-not-inc,172479,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,15024,0,60,United-States,>50K
6223,27,Private,72208,Some-college,10,Never-married,Adm-clerical,Own-child,Black,Male,0,0,40,United-States,<=50K
11371,63,Private,203783,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,72,United-States,<=50K
21087,70,Private,280307,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,20,Cuba,<=50K
25102,51,Private,55500,12th,8,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
6200,37,Self-emp-not-inc,415847,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
843,62,Local-gov,291175,Bachelors,13,Widowed,Prof-specialty,Not-in-family,White,Female,0,0,48,United-States,<=50K
23173,19,Private,254247,12th,8,Never-married,Adm-clerical,Own-child,White,Male,0,0,38,?,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1517,59,Private,284834,Bachelors,13,Married-civ-spouse,Adm-clerical,Wife,White,Female,2885,0,30,United-States,<=50K
18118,39,Private,280570,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,<=50K
28845,31,Private,272856,HS-grad,9,Never-married,Craft-repair,Own-child,Black,Male,0,0,50,England,<=50K
31298,29,Federal-gov,242147,HS-grad,9,Divorced,Adm-clerical,Not-in-family,Other,Male,0,0,45,United-States,<=50K
23143,26,Private,456618,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,0,0,40,Mexico,<=50K
2261,27,Private,408623,Bachelors,13,Married-civ-spouse,Craft-repair,Other-relative,White,Male,0,0,50,United-States,<=50K
6441,28,Private,338376,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
21784,32,Private,248584,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,<=50K
3661,57,Private,145189,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
24586,33,Private,189265,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K
4850,60,Self-emp-not-inc,376973,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,42,United-States,>50K
1285,46,Private,188861,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
22829,61,Federal-gov,151369,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
30965,54,Local-gov,127943,HS-grad,9,Widowed,Other-service,Unmarried,Black,Female,0,0,40,United-States,<=50K
29441,61,Private,316359,Some-college,10,Divorced,Sales,Not-in-family,White,Female,0,0,40,United-States,<=50K
14845,20,Private,60639,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,28,United-States,<=50K
208,58,Self-emp-inc,210563,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,15024,0,35,United-States,>50K
8007,44,?,174147,Some-college,10,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,<=50K
15493,67,Self-emp-inc,81413,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
26081,40,?,165309,7th-8th,4,Separated,?,Not-in-family,White,Female,0,0,8,United-States,<=50K
2828,54,Self-emp-not-inc,175804,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
17008,38,Local-gov,236687,Some-college,10,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
20417,42,Self-emp-inc,23510,Masters,14,Divorced,Exec-managerial,Unmarried,Asian-Pac-Islander,Male,0,2201,60,India,>50K
21278,19,Private,194905,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,12,United-States,<=50K
23656,25,Private,176047,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Female,2176,0,40,United-States,<=50K
9858,35,Private,474136,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Male,0,1408,40,United-States,<=50K
28150,46,Private,208067,HS-grad,9,Divorced,Craft-repair,Other-relative,White,Male,0,0,40,United-States,<=50K
32333,37,Self-emp-inc,328466,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
30986,31,Local-gov,94991,HS-grad,9,Divorced,Other-service,Unmarried,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K

In [6]:
len(df) * 0.8

26048.800000000003

In [7]:
train = df[:26048]

In [8]:
test = df[26048:]

In [9]:
train.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
1755,25,Private,169323,Bachelors,13,Married-civ-spouse,Exec-managerial,Own-child,White,Female,0,0,40,United-States,<=50K
29885,46,Private,336984,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,17,United-States,<=50K
2645,46,Private,138626,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
18893,53,Local-gov,197054,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
9468,40,State-gov,199381,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,15024,0,37,United-States,>50K

In [10]:
train.columns

Index(['age', ' workclass', ' fnlwgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' income'],
      dtype='object')

In [11]:
train.columns = train.columns.str.lstrip()

In [12]:
test.columns = test.columns.str.lstrip()

In [13]:
X_train = train.drop('income', axis=1)

In [14]:
X_train.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
1755,25,Private,169323,Bachelors,13,Married-civ-spouse,Exec-managerial,Own-child,White,Female,0,0,40,United-States
29885,46,Private,336984,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,17,United-States
2645,46,Private,138626,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
18893,53,Local-gov,197054,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
9468,40,State-gov,199381,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,15024,0,37,United-States

In [15]:
y_train = train.income

In [16]:
y_train.head()

1755      <=50K
29885     <=50K
2645      <=50K
18893      >50K
9468       >50K
Name: income, dtype: object

In [17]:
X_test = test.drop('income', axis='columns')

In [18]:
y_test = test.income

# Using sklearn's train_test_split

In [19]:
d = pd.read_csv('data/income_evaluation.csv')
d.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X = d.drop(' income', axis=1)
y = d[' income']

In [22]:
X1, X2, y1, y2 = train_test_split(X, y, test_size=0.2, random_state=0, stratify=y)

In [23]:
y1.value_counts()

 <=50K    19775
 >50K      6273
Name:  income, dtype: int64

In [24]:
y2.value_counts()

 <=50K    4945
 >50K     1568
Name:  income, dtype: int64

In [25]:
y.value_counts()

 <=50K    24720
 >50K      7841
Name:  income, dtype: int64

24720 is the total number of "<=50K" data samples. <br>These will be split in the ratio of 80:20

In the 'training y', i.e. y1, we'll have 24720 * 0.8 = 19776 "<=50K" samples

In [26]:
24720*0.8

19776.0

In the 'testing y', i.e. y2, we'll have 24720 * 0.2 = 4944 "<=50K" samples

In [27]:
24720*0.2

4944.0

7841 is the total number of ">50K" data samples. <br>These will be split in the ratio of 80:20

In the 'testing y', i.e. y2, we'll have 7841 * 0.2 = 1568 ">50K" samples (rounding off)

In [28]:
7841*0.2

1568.2

In the 'training y', i.e. y1, we'll have 7841 * 0.8 = 6273 ">50K" samples (rounding off)

In [29]:
7841*0.8

6272.8

In [30]:
X1.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
29101,19,?,140399,Some-college,10,Never-married,?,Other-relative,White,Female,0,0,30,United-States
10606,50,Private,158284,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
9414,62,Private,183735,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
1747,20,Private,154781,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States
10677,25,Private,356344,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States